/*Color Variables*/
:root {
  --boxer-red: #B51217; 
  --boxer-brick: #660000;
  --hover: #F6F6F6;
  --boxer-gray: #696969;
  --boxer-white: #FFFFFF;
  --boxer-gold: #CDA72B;
  --boxer-yellow: #FCB912;
}

/*General Styling*/
html, body {
	max-width: 100%;
	overflow-x: hidden;
}

a {
	color: var(--boxer-gray);
	font-size: 14px;
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	
	padding: .75em;
	display: flex;
	align-items: center;
}

a:hover {
	color: var(--boxer-red);
	text-decoration: none;
	cursor: pointer;
}

li {
	color: var(--boxer-gray);
	font-size: 12px;
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	padding-left: 2em;
}

h3 {
	color: var(--boxer-red);
	font-size: 14px;
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	font-style: italic;
	
	padding: .25em 0em 0em 1em;
	margin: 0em;
}

/*Button Styling*/
button {
	background-color: var(--boxer-white);
	border: solid;
	color: var(--boxer-red);
	
	font-size: 14px;
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	transition: box-shadow 0.2s;
	
	padding: 1em;
	margin: 0em 1em;
	border-radius: 1em;
}

button:hover {
	box-shadow: inset 0em 0em 0em .1em var(--boxer-red);
	cursor: pointer;
}

/*Quick Link Styling*/
.link .toplink {
	margin-top: 0em;
	margin-bottom: 0em;
	border-bottom: .5px solid black;
}

.link:hover .toplink:hover {
	background-color: var(--hover);
}
	
.toplink {
	border-top: .5px solid black;
}

/*More Info Styling*/
.more-info, .more-info-link {
	color: var(--boxer-gray);
	font-size: 12px;
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	font-weight: normal;
	
	display: inline-block;
	align-items: center;
}

.more-info {
	padding-left: 4em;
}

.more-info-link {
	color: var(--boxer-red);
	text-decoration: underline;
	padding: 0em;
}

.more-info-link:hover {
	color: var(--boxer-brick);
	text-decoration: underline;		
}

/*Icon Styling*/
.material-symbols-outlined {
	padding-right: .4em;
	color: var(--boxer-red);
}